{
  "jsc": {
    "transform": {
      "optimizer": {
        "globals": {
          "vars": {
            "globalThis": "window"
          }
        }
      }
    },
    "loose": true,
    "preserveAllComments": true
  },
  "isModule": true,
  "sourceMaps": true
}