name: CI
on:
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.3.1

      - name: deno task commit
        run: deno task commit
